
.logout-button{
    width: 10%;
    background-color: transparent;
    border: none;
    margin: 5px;
}
.logout-icon {
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.logout-icon:hover {
    transform: scale(1.1);
    filter: brightness(0.9);
}
